 START SET {nset}
 Number of atoms in set
   {number_of_atoms}
 Labels of the atoms in this set
   {atom_labels}
 Type of e-N cusp conditions (0->PP/cuspless AE; 1->AE with cusp)
   1
 Expansion order
   {mu_term}
 Spin dep (0->u=d; 1->u/=d)
   {spin_dep}
 Cutoff (a.u.)     ;  Optimizable (0=NO; 1=YES)
   6.0                               1
 Parameter values  ;  Optimizable (0=NO; 1=YES)
 END SET {nset}