START BACKFLOW
 Title
 title
 Truncation order
   3
 START ETA TERM
 Expansion order
   {eta_term}
 Spin dep (0->uu=dd=ud; 1->uu=dd/=ud; 2->uu/=dd/=ud)
   1
 Cut-off radii ;      Optimizable (0=NO; 1=YES; 2=YES BUT NO SPIN-DEP)
   4.0                               2       ! L_1
 Parameter ;          Optimizable (0=NO; 1=YES)
 END ETA TERM
 START MU TERM
 Number of sets ; labelling (1->atom in s. cell; 2->atom in p. cell; 3->species)
   {number_of_mu_sets}   1
{mu_sets}
 END MU TERM
 START PHI TERM
 Number of sets ; labelling (1->atom in s. cell; 2->atom in p. cell; 3->species)
   {number_of_phi_sets}   1
{phi_sets}
 END PHI TERM
 START AE CUTOFFS
 Nucleus ; Set ; Cutoff length     ;  Optimizable (0=NO; 1=YES)
  {ae_cutoffs}
 END AE CUTOFFS
END BACKFLOW
