 START ETA TERM
 Expansion order
   {eta_term}
 Spin dep (0->uu=dd=ud; 1->uu=dd/=ud; 2->uu/=dd/=ud)
   1
 Cut-off radii ;      Optimizable (0=NO; 1=YES; 2=YES BUT NO SPIN-DEP)
   4.0                               2       ! L_1
 Parameter ;          Optimizable (0=NO; 1=YES)
 END ETA TERM