 START SET {nset}
 Number of atoms in set
   {number_of_atoms}
 Labels of the atoms in this set
   {atom_labels}
 Type of e-N cusp conditions (0=PP; 1=AE)
   1
 Irrotational Phi term (0=NO; 1=YES)
   0
 Electron-nucleus expansion order N_eN
   {phi_term_eN}
 Electron-electron expansion order N_ee
   {phi_term_ee}
 Spin dep (0->uu=dd=ud; 1->uu=dd/=ud; 2->uu/=dd/=ud)
   1
 Cutoff (a.u.)     ;  Optimizable (0=NO; 1=YES)
   6.0                               1
 Parameter values  ;  Optimizable (0=NO; 1=YES)
 END SET {nset}