JASTROW:
  Title: ''
  TERM 1:
    Rank: [2, 0]
    Rules: [1-1=2-2]
    e-e basis:
      Type: natural power
      Order: 8
    e-e cusp: T
    e-e cutoff:
      Type: alt polynomial
  TERM 2:
    Rank: [1, 1]
    Rules: [Z, 1-1=2-2]
    e-n basis:
      Type: natural power
      Order: 8
    e-n cutoff:
      Type: alt polynomial
  TERM 3:
    Rank: [2, 1]
    Rules: [Z, 1-1=2-2]
    e-e basis:
      Type: 1/(r+a) power
      Order: 2
    e-n basis:
      Type: natural power
      Order: 4
    e-n cutoff:
      Type: alt polynomial
      Parameters:
        Channel 1-n1:
          L: [ 3.0, optimizable, limits: [ 1.0, 9.0 ] ]
        Channel 2-n1:
          L: [ 3.1, optimizable, limits: [ 1.0, 9.0 ] ]