START HEADER
  {molecule} {basis}
END HEADER

 START VERSION
  1
END VERSION

START JASTROW
 Title
 title
 Truncation order
   3
 START U TERM
 Number of sets
   1
 START SET 1
 Spherical harmonic l,m
   0 0
 Expansion order
   9
 Spin-dep params (0->uu=dd=ud; 1->uu=dd/=ud; 2->uu/=dd/=ud)
   1
 Cutoff (a.u.)     ;  Optimizable (0=NO; 1=YES)
   3.d0                            1
 Parameter values  ;  Optimizable (0=NO; 1=YES)
 END SET 1
 END U TERM
 START CHI TERM
 Number of sets; labelling (1->atom in s cell; 2->atom in p cell; 3->species)
   1
 START SET 1
 Spherical harmonic l,m
   0 0
 Number of atoms in set
   1
 Labels of the atoms in this set
   1
 Impose electron-nucleus cusp (0=NO; 1=YES)
   0
 Expansion order
   9
 Spin-dep params (0->u=d; 1->u/=d)
   0
 Cutoff (a.u.)     ;  Optimizable (0=NO; 1=YES)
   3.d0                            1
 Parameter values  ;  Optimizable (0=NO; 1=YES)
 END SET 1
 END CHI TERM
 START F TERM
 Number of sets; labelling (1->atom in s cell; 2->atom in p cell; 3->species)
   1
 START SET 1
 Number of atoms in set
   1
 Labels of the atoms in this set
   1
 Prevent duplication of u term (0=NO; 1=YES)
   0
 Prevent duplication of chi term (0=NO; 1=YES)
   0
 Electron-nucleus expansion order
   3
 Electron-electron expansion order
   3
 Spin-dep params (0->uu=dd=ud; 1->uu=dd/=ud; 2->uu/=dd/=ud)
   1
 Cutoff (a.u.)     ;  Optimizable (0=NO; 1=YES)
   3.d0                            0
 Parameter values  ;  Optimizable (0=NO; 1=YES)
 END SET 1
 END F TERM
END JASTROW
