START MOLORBMODS
 Title
  Molecular orbital modifications for the XXX molecule
 START GAUSSIAN MO COEFFICIENTS
  Parameter values ; Optimizable (0=NO; 1=YES)
 END GAUSSIAN MO COEFFICIENTS
 START GAUSSIAN EXPONENTS
  Parameter values ; Optimizable (0=NO; 1=YES)
 END GAUSSIAN EXPONENTS
 START GAUSSIAN PRIMITIVE CORRECTIONS
  Parameter values ; Optimizable (0=NO; 1=YES)
 END GAUSSIAN PRIMITIVE CORRECTIONS
END MOLORBMODS
