#-------------------#
# CASINO input file #
#-------------------#

# {molecule} molecule (ground state)

# SYSTEM
neu               : {neu:<3}            #*! Number of up electrons (Integer)
ned               : {ned:<3}            #*! Number of down electrons (Integer)
periodic          : F              #*! Periodic boundary conditions (Boolean)
atom_basis_type   : gaussian       #*! Basis set type (text)

# RUN
runtype           : vmc            #*! Type of calculation (Text)
newrun            : T              #*! New run or continue old (Boolean)
testrun           : F              #*! Test run flag (Boolean)

# VMC
vmc_equil_nstep   : 5000           #*! Number of equilibration steps (Integer)
vmc_nstep         : 1000000        #*! Number of steps (Integer)
vmc_nblock        : 10             #*! Number of checkpoints (Integer)
vmc_nconfig_write : 0              #*! Number of configs to write (Integer)
vmc_decorr_period : 0              #*! VMC decorrelation period (0 - auto)
writeout_vmc_hist : F              #*! Write vmc.hist file in VMC (Boolean)

# GENERAL PARAMETERS
use_gjastrow      : T              #*! Use a Jastrow function (Boolean)
backflow          : {backflow}              #*! Use backflow corrections (Boolean)
