JASTROW:
  Title: 'Standard JASTROW'
  TERM 1:
    Rank: [2, 0]
    Rules: [1-1=2-2]
    e-e basis:
      Type: 1/(r+a) power
      Order: 2
    e-e cusp: T
    e-e cutoff:
      Type: alt polynomial
  TERM 2:
    Rank: [1, 1]
    Rules: [Z, 1-1=2-2]
    e-n basis:
      Type: r/(r+a) power
      Order: 2
    e-n cutoff:
      Type: alt polynomial
  TERM 3:
    Rank: [2, 1]
    Rules: [Z, 1-1=2-2]
    e-e basis:
      Type: natural power
      Order: 4
    e-n basis:
      Type: r/(r+a) power
      Order: 2
    e-n cutoff:
      Type: alt polynomial
