# ================================================================
# Orca input file
# ================================================================
! {method} {basis} VeryTightSCF UseSym
{extra_params}
! PAL16

#%scf
#  STABPerform true
#end

{extra_basis}

* xyzfile {charge} {multiplicity} ../../mol.xyz
