# ================================================================
# Orca input file
# ================================================================
! {method} {basis} def2-QZVPP/C KDIIS VeryTightSCF UseSym
! PAL4

%mp2
  density unrelaxed
  natorbs true
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz

$new_job
! {basis} VeryTightSCF
! MOREAD

%moinp "mol.mp2nat"

%casscf
  irrep 0
  nel  {nel}
  norb {norb}
  CIStep ice
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz

$new_job
! {basis} VeryTightSCF
! MOREAD NOITER

%moinp "mol_job2.gbw"

%casscf
  irrep 0
  nel  {nel}
  norb {norb}
  PrintWF det
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz


$new_job
! {basis} VeryTightSCF
! MOREAD NOITER

%moinp "mol_job2.gbw"

%casscf
  irrep 0
  nel  {nel}
  norb {norb}
  PrintWF csf
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
