# ================================================================
# Orca input file
# ================================================================
! UHF {basis} KDIIS VeryTightSCF UseSym
{procs}
! MOREAD

%moinp "{moinp}"

%casscf
  irrep {irrep}
  nel  {nel}
  norb {norb}
  CIStep ice
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz

$new_job
! {basis} VeryTightSCF
! MOREAD NOITER

%moinp "casscf.gbw"

%casscf
  irrep {irrep}
  nel  {nel}
  norb {norb}
  PrintWF det
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz

$new_job
! {basis} VeryTightSCF
! MOREAD NOITER

%moinp "casscf.gbw"

%casscf
  irrep {irrep}
  nel  {nel}
  norb {norb}
  PrintWF csf
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
