# ================================================================
# Orca input file
# ================================================================
! {method} {basis} VeryTightSCF UseSym
{extra_params}
! PAL4

%scf
  STABPerform true
#  STABRestartUHFifUnstable true
end

{extra_basis}

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
