# ================================================================
# Orca input file
# ================================================================
! {method} {basis} VeryTightSCF UseSym
{extra_params}
! PAL4

#%scf
#  STABPerform true
#end

%basis
  GTOName = {external_basis};
  {external_ecp}
end

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
