# ================================================================
# Orca input file
# ================================================================
! {method} {basis} {aux_basis} VeryTightSCF UseSym
{extra_params}
{procs}

{extra_basis}

* xyzfile {charge} {multiplicity} ../../mol.xyz
