# ================================================================
# Orca input file
# ================================================================
! DLPNO-CCSD(T) {basis} {aux_basis} VeryTightSCF UseSym
{extra_params}
{procs}

%maxcore 4000

{extra_basis}

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
