# ================================================================
# Orca input file
# ================================================================
! UHF {method} {basis} VeryTightSCF UNO UseSym
{extra_params}
{procs}

%scf
  STABPerform true
end

{extra_basis}

* xyzfile {charge} {multiplicity} ../../../../chem_database/{molecule}.xyz
