# ================================================================
# Orca input file
# ================================================================
! {method} {basis} VeryTightSCF
! PAL16

%casscf
  nel  {nel}
  norb {norb}
  PrintWF det
end

* xyzfile {charge} {multiplicity} ../../mol.xyz

$new_job
! {method} {basis} VeryTightSCF

%casscf
  nel  {nel}
  norb {norb}
  PrintWF csf
end

* xyzfile {charge} {multiplicity} ../../mol.xyz
