$comment0
$end

$rem
SYMMETRY              true
BASIS                 {basis}
METHOD                {method}
MAX_SCF_CYCLES        100
SCF_CONVERGENCE       8
SCF_ALGORITHM         {algorithm}
UNRESTRICTED          true
STABILITY_ANALYSIS    true
$end

$molecule
READ                  ../chem_database/{molecule}.in
$end

@@@

$rem
BASIS                 {basis}
METHOD                {method}
MAX_SCF_CYCLES        100
SCF_CONVERGENCE       8
SCF_ALGORITHM         gdm
SCF_GUESS             read
UNRESTRICTED          true
STABILITY_ANALYSIS    true
MOLDEN_FORMAT         true
PRINT_ORBITALS        2000
$end

$molecule
READ                  ../chem_database/{molecule}.in
$end
