Title {molecule}

ATOMS
  He       0.000000000000       0.000000000000       0.000000000000
END

BASIS
  Type {basis}
  Core None
END

XC
  {method}
END

EPRINT
  SFO NOEIG NOOVL NOORBPOP
  SCF NOPOP
END

NOPRINT BAS FUNCTIONS

TOTALENERGY
NOTOTEN
